.title--blog
	color: #fff

.section__title--blog
	top: 50%

.blog__section-title
	color: #fff
	.title:after, .title:before
		background-color: rgba(#fff, .2)
	
	&:after, &:before 
		background: rgba(#fff, .2)

.triangle_fill_fff
	fill: #fff

.blog
	background-color: #fff
	@extend %clearfix
	position: relative

.sidebar
	float: left
	width: 30%
	text-align: right
	padding: 0 20px
	padding-top: 30px
	min-height: 1px
	@include laptop
		width: 80%
		left: 0
		position: fixed
		padding: 0 
		height: 100vh
		box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2)
		z-index: 100

.sidebar__menu
	padding-top: 20px
	@include laptop
		position: absolute
		top: 50%
		transform: translateY(-50%)
		width: 100%
		min-height: 1px

.sidebar__item
	color: $main-font-color
	padding: 10px 20px 10px 10px
	font-size: 16px
	font-family: 'robotoregular'
	border-right: 2px solid transparent 
	cursor: pointer
	@include laptop
		color: rgba(#fff, .8)
		border-right: none
		position: relative
	&:hover
		color: $accent
		font-family: 'robotobold'
		border-right-color: $accent
		@include laptop
			color: #fff
			border-right: none
			z-index: 100
	
.sidebar__item--active
	color: $accent
	font-family: 'robotobold'
	border-right-color: $accent
	@include laptop
		color: #fff
		border-right: none
		z-index: 100

.wrap-menu 
	position: relative
	top: 0
	//left: 0   
	@include laptop
		width: 80%
		position: fixed
		left: -80%

.sidebar__toggle
	display: none
	@include laptop
		display: block
		width: 20px
		height: 46px
		border-radius: 100%
		position: fixed
		top: 50%
		transform: translateY(-50%)
		background: $accent
		box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2)
		z-index: 100
		left: calc(0% - 8px)

.wrap-menu.fixed 
	width: 30%
	padding: 0 40px
	@include laptop
		width: 80%
		position: fixed
		left: -80%
		padding: 0
		
.fixed 
	position: fixed
	top: 0
	display: block
	
.overlay-sidebar
	@include laptop
		width: 80%
		height: 100%
		position: fixed
		background: $accent
		box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.2)
		z-index: 100
		padding: 0
	
.content
	float: right
	width: 65%
	text-align: left
	overflow: hidden
	padding: 0 20px
	@include laptop
		float: none
		width: 100% 

.article
	border-bottom: 5px solid rgba(#373e42, .07)
	padding: 50px 0
	@include tablets
		padding: 30px 0

.article__title
	font-family: 'bernier_regularregular'
	font-size: 35px
	color: $main-font-color
	margin-bottom: 20px
	@include laptop
		font-size: 30px
		margin-bottom: 12px
	@include tablets
		font-size: 21px

.article__data
	font-size: 16px
	font-family: 'robotoregular'
	color: $accent
	margin-bottom: 20px
	@include laptop
		font-size: 14px
		margin-bottom: 12px
	@include tablets
		font-size: 14px

.article__text
	font-size: 16px
	font-family: 'robotoregular'
	color: $main-font-color
	overflow: hidden
	@include laptop
		font-size: 14px
	@include tablets
		font-size: 14px
	p
		margin-bottom: 8px
	img
		display: block