extends ../_template
include ../parts/mixins

block variables
  - var title = 'Hello!'
    
block content
  section.section.welcome

    a(href="login.html").authorization.welcome__authorization Авторизоваться

    .section__user-block
      .user-block
        .user__photo-wrap
          .user__photo
            img(src="assets/img/content/avatar-small.jpg", alt="").photo-avatar
        .user__name Наталия Петкевич
        .user__desc Личный сайт веб-разработчика

        ul.socials.user__socials
          each item in ['vk', 'gh', 'in']
            li.socials__item
              a(href="#" class=`socials__link socials__link_${item}`)

        ul.menu.user__line-green
          li.form-menu__item
            a(href="works.html").menu__link Мои работы
          li.form-menu__item
            a(href="about.html").menu__link Обо мне
          li.form-menu__item
            a(href="blog.html").menu__link Блог

          
  .footer--welcome.footer__about-me
    | &copy; Наталия Петкевич | создано с любовью в LoftSchool | 2017

  

    

        
    

  






