extends ../_template
include ../parts/mixins

block variables
  - var title = 'Login'
    
block content
  section.section.welcome

    .section__user-block
      
      .user-block.welcome__form
        .title.title--subtitle
          | Авторизуйтесь

        form(action="mail.php" method="POST" class="form" id="order-form")
          label(class="form__elem" for="login")
            .form__elem-icon
              i.icon-user
            input(class="form__elem-input" type="text" id="login" name="login" placeholder="Логин")

          label(class="form__elem" for="password")
            .form__elem-icon
              i.icon-key
            input(class="form__elem-input" type="password" id="password" name="password" placeholder="Пароль")

          label(class="form__elem-checkbox" for="checkbox")
            input(class="form__checkbox-hidden" type="checkbox"  id="checkbox" name="checkbox" checked)
            span.form__checkbox-custom
              i.icon-check
            span.form__elem-title Я человек

          .form__text Вы точно не робот?


          .form__line

            label(class="form__elem-radio" for="radio-yes")
              input(class="form__radio-hidden" type="radio"  id="radio-yes" name="radio-yes" value="yes" checked)
              span.form__radio-custom
              span.form__elem-title Да

            label(class="form__elem-radio" for="radio-no")
              input(class="form__radio-hidden" type="radio"  id="radio-no" name="radio-yes" value="no")
              span.form__radio-custom
              span.form__elem-title Не уверен
                   
          .user__line-green
            a(href="index.html").form__elem-main.form-menu__item На главную
                  
            input(type="submit" id="submit" name="submit" value="Войти").form__elem-submit.form-menu__item
                  

    
  .footer--welcome.footer__about-me
    | &copy; Наталия Петкевич | создано с любовью в LoftSchool | 2017

  

    

        
    

  






